.games{
    position: relative;
    background-color: $dark;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    &__background{
        z-index: 0;
        &-star1{
            position: absolute;
            right: calc(100vw - 1440px + 124px);
            top: 93px;
        }
        &-star2{
            position: absolute;
            right: calc(100vw - 1440px + 45px);
            top: 126px;
        }
        &-star3{
            position: absolute;
            right: calc(100vw - 1440px + 150px);
            bottom: 45px;
        }
        &-star4{
            position: absolute;
            right: calc(100vw - 1440px + 52px);
            bottom: 65px;
        }
    }
    &__heading{
        padding-top: 46px;
        padding-bottom: 40px;
    }
    &__items{
        padding-bottom: 144px;
    }
    &__item{
        display: flex;
        margin-top: 32px;
        max-width: 1200px;
        background-color: $light;
        border-radius: 30px;
        &:nth-child(2n-1){
            flex-direction: row;
        }
        &:nth-child(2n){
            flex-direction: row-reverse;
        }
        &-content{
            width: 600px;
            padding-left: 48px;
            padding-right: 48px;
        }
        &-name{
            padding-top: 48px;
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            text-align: left;
        }
        &-description{
            padding-top: 24px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
        }
        &-form{
            padding-top: 36px;
        }
    }

}