@media (max-width: 767px){
    .button{
        width: 285px;
        height: 55px;
        font-size: 16px;
        line-height: 23px;
        &:hover{
            background: $dark;
            color: $light;
        }

    }
    .top{
        padding-left: 17px;
        padding-right: 17px;
        height: 700px;
        &__background{
            &-small-star1{
                position: absolute;
                top: 14%;
                left: 10%;
                height: 35px;
            }
            &-small-star2{
                position: absolute;
                top: 9%;
                left: 24%;
                height: 21px;
            }
            &-small-star3{
                position: absolute;
                top: 80%;
                left: 72%;
                height: 18px;
            }
            &-small-star4{
                position: absolute;
                top: 83%;
                left: 80%;
                width: 39px;
                height: 41px;
            }
        }
        &__heading{
            padding-top: 147px;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
        }
        &__description{
            display: none;
            &_mobile{
                display: block;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                text-align: center;
            }
        }
        &__form{
            display: none;
            &_mobile{
                display: block;
                padding-top: 36px;
            }
        }
        &__button{
            margin-left: calc(50% - 142.5px);
            margin-right: calc(50% - 142.5px);
        }
        &__placestripe{
            height: 51px;
            width: 450%;
        }
        &__stripe{
            margin-top: 16px;
            column-gap: 74px;
        }
        &__stripeitem{
            font-size: 16px;
            font-family: Montserrat;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0.04em;
            text-align: left;
            &::before{
                content: "";
                position: absolute; 
                float: right; 
                left: -48px;
                background-image: url(img/Star_small.svg);
                background-repeat: no-repeat;
            }
        }
    }
    .about{
        display: none;
    }
    .games{
        padding-left: 16px;
        padding-right: 16px;
        &__background{
            display: none;
        }
        &__heading{
            padding-top: 48px;
            padding-bottom: 24px;
            font-size: 40px;
            font-family: Montserrat;
            font-weight: 700;
            line-height: 49px;
            text-align: left;

        }
        &__items{
            padding-bottom: 14px;
        }
        &__item{
            max-width: 343px;
            margin-top: 24px;
            &-content{
                padding-left: 29px;
                padding-right: 29px;
                padding-top: 29px;
                padding-bottom: 32px;
            }
            &-name{
                padding-top: 0px;
                font-size: 32px;
                line-height: 39px;
            }
            &-description{
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;

            }
            &:nth-child(2n-1){
                flex-direction: column-reverse;
            }
            &:nth-child(2n){
                flex-direction: column-reverse;
            }
        }
    }
    .footer{
        height: 100px;
        &__information{
            font-size: 16px;
            padding-top: 40px;
    
        }
    }
}