@media (max-width: 767px){
    .top{
        padding-left: 17px;
        padding-right: 17px;
        height: 700px;
        &__background{
            &-small-star1{
                position: absolute;
                top: 14%;
                left: 10%;
                height: 35px;
            }
            &-small-star2{
                position: absolute;
                top: 9%;
                left: 24%;
                height: 21px;
            }
            &-small-star3{
                position: absolute;
                top: 80%;
                left: 72%;
                height: 18px;
            }
            &-small-star4{
                position: absolute;
                top: 83%;
                left: 80%;
                width: 39px;
                height: 41px;
            }
        }
        &__heading{
            padding-top: 147px;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: center;
        }
        &__description{
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.5px;
            text-align: center;
        }
        &__form{
            padding-top: 36px;
        }
        &__button{
            margin-left: calc(50% - 142.5px);
            margin-right: calc(50% - 142.5px);
            width: 285px;
            height: 55px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 22.67px;
            text-align: center;
            &:hover{
                background: $dark;
                color: $light;
            }

        }
    }
    .about{
        display: none;
    }
    .games{
        display: none;
    }
    .footer{
        height: 100px;
        &__information{
            font-size: 16px;
            padding-top: 40px;
    
        }
    }
}