@media (max-width: 1024px){
    .top{
        padding-left: 24px;
        padding-right: 24px;
        &__background{
            &-superstar{
                display: none;
            }
            &-star{
                display: block;
                position: absolute;
                right: 0%;
            }
        }
        &__heading {
            font-size: 56px;
            font-weight: 700;
            line-height: 78px;
            letter-spacing: 0px;
            text-align: left;
        }
    }
    .about{
        padding-left: 24px;
        padding-right: 24px;
        &__items{
            padding-top: 64px;
            gap: 28px;
            grid-template-columns: repeat(12,1fr);
        }
        &__link{
            grid-column: span 6;
            transition: transform .2s;
            z-index: 1;
            background: $light;
            border-radius: 30px;
            height: 500px;
            max-width: 373px; 
            &:nth-child(2n){
                height: 500px;
            }
            &:nth-child(5n){
                margin-top: 0px;;
            }
            &_1{
                background-image: url(img/number.png);
                background-repeat: no-repeat;
            }
            &_2{
                background-image: url(img/arithmetic.png);
                background-repeat: no-repeat;
            }
            &_3{
                background-image: url(img/text.png);
                background-repeat: no-repeat;
            }
            &_4{
                background-image: url(img/rps.png);
                background-repeat: no-repeat;
            }
            &_5{
                background-image: url(img/quiz.png);
                background-repeat: no-repeat;
            }
            &_6{
                background-image: url(img/generator.png);
                background-repeat: no-repeat;
            }
        }
    }
    .games{
        padding-left: 24px;
        padding-right: 24px;
        &__heading{
            padding-top: 48px;
            padding-bottom: 24px;
            font-size: 40px;
        }
        &__items{
            padding-bottom: 48px;
        }
        &__item{
            max-width: 768px;
            &-content{
                padding-left: 29px;
                padding-right: 29px;
                padding-top: 29px;
                padding-bottom: 32px;
            }
            &:nth-child(2n-1){
                flex-direction: column-reverse;
            }
            &:nth-child(2n){
                flex-direction: column-reverse;
            }
        }
    }
}