.top{
    position: relative;
    overflow-x: hidden; 
    height: 800px;
    background-color: $glight;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    &__background{
        &-small-star1{
            position: absolute;
            top: 94px;
            left: 4%;
        }
        &-small-star2{
            position: absolute;
            top: 69px;
            left: 10%;
        }
        &-small-star3{
            position: absolute;
            top: 538px;
            left: 65%;
        }
        &-small-star4{
            position: absolute;
            top: 568px;
            left: 70%;
        }
        &-star{
            display: none;
        }
        &-superstar{
            position: absolute;
            right: 0%;
        }
    }
    &__heading {
        z-index: 1;
        padding-top: 196px;
        color: $dark;
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__description{
        z-index: 1;
        padding-top: 24px;
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__form{
        padding-top: 48px;
        &_mobile{
            display: none;
        }
    }
    &__stripe{
        position: absolute;
        height: 90px;
        bottom: 0%;
        left: 0%;
        animation: scroll 20s linear infinite;
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}