* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.button {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: #202027;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.button:hover {
  background: #FFFFFF;
  color: #202027;
}

h2 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #FFFFFF;
}

.footer {
  height: 150px;
  background: #BCEC30;
}
.footer__information {
  color: #202027;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-top: 60px;
}

.top {
  position: relative;
  overflow-x: hidden;
  height: 800px;
  background-color: #E1FF8F;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.top__background-small-star1 {
  position: absolute;
  top: 94px;
  left: 4%;
}
.top__background-small-star2 {
  position: absolute;
  top: 69px;
  left: 10%;
}
.top__background-small-star3 {
  position: absolute;
  top: 538px;
  left: 65%;
}
.top__background-small-star4 {
  position: absolute;
  top: 568px;
  left: 70%;
}
.top__background-star {
  display: none;
}
.top__background-superstar {
  position: absolute;
  right: 0%;
}
.top__heading {
  z-index: 1;
  padding-top: 196px;
  color: #202027;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.top__description {
  z-index: 1;
  padding-top: 24px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.top__form {
  padding-top: 48px;
}
.top__form_mobile {
  display: none;
}
.top__stripe {
  position: absolute;
  height: 90px;
  bottom: 0%;
  left: 0%;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.about {
  position: relative;
  background-color: #202027;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  padding-bottom: 50px;
}
.about__background {
  z-index: 0;
}
.about__background-star {
  position: absolute;
  right: 0%;
  top: 5%;
  z-index: 0;
}
.about__background-smalstar1 {
  position: absolute;
  top: 770px;
  left: 25px;
}
.about__background-smalstar2 {
  position: absolute;
  top: 822px;
  left: 40px;
}
.about__heading {
  padding-top: 94px;
}
.about__description {
  padding-top: 24px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.about__items {
  padding-top: 72px;
  display: grid;
  -moz-column-gap: 32px;
       column-gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.about__link {
  grid-column: span 4;
  transition: transform 0.2s;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 30px;
  height: 473px;
}
.about__link:nth-child(2n) {
  height: 512px;
}
.about__link:nth-child(5n) {
  margin-top: 39px;
}
.about__link:hover {
  transform: scale(1.1);
}
.about__link_1 {
  background-image: url(img/number.png);
  background-repeat: no-repeat;
}
.about__link_2 {
  background-image: url(img/arithmetic.png);
  background-repeat: no-repeat;
}
.about__link_3 {
  background-image: url(img/text.png);
  background-repeat: no-repeat;
}
.about__link_4 {
  background-image: url(img/rps.png);
  background-repeat: no-repeat;
}
.about__link_5 {
  background-image: url(img/quiz.png);
  background-repeat: no-repeat;
}
.about__link_6 {
  background-image: url(img/generator.png);
  background-repeat: no-repeat;
}
.about__label {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 346px;
  width: 108px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
}
.about__item-name {
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.games {
  position: relative;
  background-color: #202027;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.games__background {
  z-index: 0;
}
.games__background-star1 {
  position: absolute;
  right: 9%;
  top: 93px;
}
.games__background-star2 {
  position: absolute;
  right: 3%;
  top: 126px;
}
.games__background-star3 {
  position: absolute;
  right: 9%;
  bottom: 45px;
}
.games__background-star4 {
  position: absolute;
  right: 3%;
  bottom: 65px;
}
.games__heading {
  padding-top: 46px;
  padding-bottom: 40px;
}
.games__items {
  padding-bottom: 144px;
}
.games__item {
  display: flex;
  margin-top: 32px;
  max-width: 1200px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.games__item:nth-child(2n-1) {
  flex-direction: row;
}
.games__item:nth-child(2n) {
  flex-direction: row-reverse;
}
.games__item-content {
  max-width: 600px;
  padding-left: 48px;
  padding-right: 48px;
}
.games__item-name {
  padding-top: 48px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.games__item-description {
  padding-top: 24px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.games__item-form {
  padding-top: 36px;
}

@media (max-width: 1024px) {
  .top {
    padding-left: 24px;
    padding-right: 24px;
  }
  .top__background-superstar {
    display: none;
  }
  .top__background-star {
    display: block;
    position: absolute;
    right: 0%;
  }
  .top__heading {
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
  }
  .about {
    padding-left: 24px;
    padding-right: 24px;
  }
  .about__items {
    padding-top: 64px;
    gap: 28px;
    grid-template-columns: repeat(12, 1fr);
  }
  .about__link {
    grid-column: span 6;
    transition: transform 0.2s;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 30px;
    height: 500px;
    max-width: 373px;
  }
  .about__link:nth-child(2n) {
    height: 500px;
  }
  .about__link:nth-child(5n) {
    margin-top: 0px;
  }
  .about__link_1 {
    background-image: url(img/number.png);
    background-repeat: no-repeat;
  }
  .about__link_2 {
    background-image: url(img/arithmetic.png);
    background-repeat: no-repeat;
  }
  .about__link_3 {
    background-image: url(img/text.png);
    background-repeat: no-repeat;
  }
  .about__link_4 {
    background-image: url(img/rps.png);
    background-repeat: no-repeat;
  }
  .about__link_5 {
    background-image: url(img/quiz.png);
    background-repeat: no-repeat;
  }
  .about__link_6 {
    background-image: url(img/generator.png);
    background-repeat: no-repeat;
  }
  .games {
    padding-left: 24px;
    padding-right: 24px;
  }
  .games__heading {
    padding-top: 48px;
    padding-bottom: 24px;
    font-size: 40px;
  }
  .games__items {
    padding-bottom: 48px;
  }
  .games__item {
    max-width: 768px;
  }
  .games__item-content {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 29px;
    padding-bottom: 32px;
  }
  .games__item:nth-child(2n-1) {
    flex-direction: column-reverse;
  }
  .games__item:nth-child(2n) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    line-height: 23px;
  }
  .button:hover {
    background: #202027;
    color: #FFFFFF;
  }
  .top {
    padding-left: 17px;
    padding-right: 17px;
    height: 700px;
  }
  .top__background-small-star1 {
    position: absolute;
    top: 14%;
    left: 10%;
    height: 35px;
  }
  .top__background-small-star2 {
    position: absolute;
    top: 9%;
    left: 24%;
    height: 21px;
  }
  .top__background-small-star3 {
    position: absolute;
    top: 80%;
    left: 72%;
    height: 18px;
  }
  .top__background-small-star4 {
    position: absolute;
    top: 83%;
    left: 80%;
    width: 39px;
    height: 41px;
  }
  .top__heading {
    padding-top: 147px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
  }
  .top__description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
  }
  .top__form {
    display: none;
  }
  .top__form_mobile {
    display: block;
    padding-top: 36px;
  }
  .top__button {
    margin-left: calc(50% - 142.5px);
    margin-right: calc(50% - 142.5px);
  }
  .top__stripe {
    height: 52px;
  }
  .about {
    display: none;
  }
  .games {
    padding-left: 16px;
    padding-right: 16px;
  }
  .games__background {
    display: none;
  }
  .games__heading {
    padding-top: 48px;
    padding-bottom: 24px;
    font-size: 40px;
  }
  .games__items {
    padding-bottom: 48px;
  }
  .games__item {
    max-width: 343px;
  }
  .games__item-content {
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 29px;
    padding-bottom: 32px;
  }
  .games__item-name {
    padding-top: 0px;
    font-size: 32px;
    line-height: 39px;
  }
  .games__item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .games__item:nth-child(2n-1) {
    flex-direction: column-reverse;
  }
  .games__item:nth-child(2n) {
    flex-direction: column-reverse;
  }
  .footer {
    height: 100px;
  }
  .footer__information {
    font-size: 16px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */